@using OpenCoursesAdmin.Data.Models.CourseModels
@model List<OpenCoursesAdmin.Data.Models.CourseModels.CourseInstance>

@{
    ViewData["Title"] = "All Courses";
}
<h2>Open Courses</h2>
<div>
    <table class="table-hover">
        <thead>
            <tr>
                <td>
                    Total number: @Model.Count
                </td>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Onsite</th>
                <th scope="col">Online</th>
                @*<th scope="col"></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (CourseInstance courseInstance in Model)
            {
                <tr>
                    <td scope="row" style="padding:0.75rem">@courseInstance.Name</td>
                    <td scope="row" style="padding:0.75rem" >@courseInstance.OnsiteStudentsCount</td>
                    <td scope="row" style="padding:0.75rem" >@courseInstance.OnlineStudentsCount</td>
                    <td><a asp-action="SurveysResults" asp-route-courseInstanceName="@courseInstance.Name">Surveys Results</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
